.main-background {
    background: #046380;
}

.header-background {
    background: #4D7298;
}

.menu-item > a {
    color: #fff;
}


.menu-item > a:hover {
    /* TODO: Replace with Hex color*/
    color: orange;
}

.figure-box {
    background: #FAF3DD;
}

.caption-background {
    background: #046380;
}

.subject {
    background: #9DC3C2;
}

.main-container-turquoise {
    background: #EFECCA;
}

.article-block {
    background: #D6D0FA;
}

.shape-background {
    background: #D6D0FA;
}

.triangle {
    color: #D6D0FA;
}

.simple-box {
    background: #D6D0FA;
}

.white {
    color: rgba(256, 256, 256, 0.95);
}