.main-background {
    background: #046380;
}

.header-background {
    background: #4D7298;
}

.menu-item > a {
    color: #fff;
}

.menu-item > a:hover {
    color: #FF8000;
}

.figure-box {
    background: #FAF3DD;
}

.caption-background {
    background: #046380;
}

.main-container {
    background: #EFECCA;
    -webkit-box-shadow: inset 0 0 40px 2px #0463D8;
    -moz-box-shadow: inset 0 0 40px 2px #0463D8;
    box-shadow: inset 0 0 40px 2px #0463D8;
}

.shape-demo {
    background: linear-gradient(45deg, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
}

.triangle {
    color: #23538a;
}

.white {
    color: rgba(256, 256, 256, 0.95);
}

.form-button {
    background-color: #8FBBD1;
}