*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.site-header {
    padding: 1rem;
    z-index: 1;
}

.main-container {
    margin: 10rem 5rem;
    padding: 2rem;

}

.section-block {
    padding: 2rem;
    border: solid 1px #ccc;
    margin: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 47%;
}

.fixed-box {
    position: fixed;
    top: 0;
}

.subject {
    margin: 0;
}

.pad-bottom {
    padding-bottom: 1rem;
}

.pad-top {
    padding-top: 1rem;
}

.figure-box {
    margin-left: 0;
}

.figure-box img {
    max-width: 100%;
    padding-left: 0;
}

@media screen and (max-width: 1370px) {
    .section-block {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 1020px) {
    .site-title {
        display: block;
        position: static;
        text-align: center;
        margin: 0.5rem;
    }

    .menu {
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        margin: 7rem 0;
    }
}

@media screen and (max-width: 425px) {
    .menu {
        display: inline;
        margin-left: -6px;
    }
}

.shape-demo {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem;
    border: 1px solid;
}

.page-title {
    background-image: repeating-linear-gradient(to bottom right, rgb(0, 196, 244) 0%, rgb(3, 96, 120) 100%);
}

.contact-form > div > label {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: right;
    padding-right: 0.5rem;
}

.contact-form > div {
    margin: 0.5rem auto;
}

@media screen and (max-width: 1000px) {
    .contact-form > div {
        width: 100%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1369px) {
    .contact-form > div {
        width: 75%;
    }
}

@media screen and (min-width: 1370px) and (max-width: 1440px) {
    .contact-form > div {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
    .contact-form > div {
        width: 80%;
    }
}

@media screen and (min-width: 1600px) {
    .contact-form > div {
        width: 70%;
    }
}

.input-area {
    display: inline-block;
    width: 20rem;
}

.input-area > select {
    width: 25%;
}

.input-area > select + input {
    width: 75%;
}

.input-area > input:first-child {
    width: 100%;
}

.input-area > textarea {
    width: 100%;
}

.send-button-block {
    text-align: center;
}

.search-button {
    margin-left: 1rem;
}

@media screen and (max-width: 528px) {
    .contact-form > div > label {
        text-align: left;
        width: 100%;
        margin: 0.2rem;
    }

    .search-button {
        display: block;
        margin: 0.2rem 0;
    }
}

.form-subject {
    text-align: center;
    margin-bottom: 1rem;
}

.gallery-image {
    margin: 2rem auto;
}

@media screen and (min-width: 868px) {
    .gallery-image {
        display: inline-block;
    }
}