*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.site-header {
    padding: 1rem;
    z-index: 1;
}

.main-container {
    margin: 10rem 5rem;
    padding: 2rem;

}

.article-block {
    padding: 2rem;
    border: 2px solid;
    margin: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 47%;
}

.fixed-box {
    position: fixed;
    top: 0;
}

.subject {
    text-align: center;
    margin: 0;
    border: 2px dotted;
}

.figure-box img {
    max-width: 100%;
    padding-left: 0;
}

@media screen and (max-width: 1370px) {
    .article-block {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 1020px) {
    .site-title {
        display: block;
        position: static;
        text-align: center;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        margin: 7rem 0;
    }
}

@media  screen and (max-width: 425px) {
    .menu {
        display: inline;
        margin-left: -6px;
    }
}

.shape-demo {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem;
    border: 1px solid;
}

.shape-box {
    padding: 3rem;
}

@media screen and (max-width: 1663px) {
    .shape-box {
        padding: 0;
    }
}

@media screen and (max-width: 1458px) and (min-width: 1350px) {
    .shape-box {
        padding: 3rem;
    }
    .shape-demo {
        display: block;
    }
}
