html {
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-item > a {
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.border-top {
    /*border-top: 2px solid;*/
}

.page-title {
    font-size: 2rem;
}

.subject {
    font-size: 1.5rem;
}