/*figure {*/
	/*display: inline-block;*/
	/*margin: 30px;*/
	/*border: 1px solid #663399;*/
/*}*/





figure img {
	height: 300px;
	width: 400px;
}

label {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

input {
	margin-bottom: 10px;
}

div {
	margin-top: 10px;
}