* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-top: 10vh;
}

header {
    text-align: center;
}

.fixed-box {
    position: fixed;
    top: 0;
}
/*
    mobile-accordion blocks
*/
.subject {
    text-align: center;
    margin: 0;
    border: 2px dotted;
}

.accordion-block {
    display: none;
}

input[type=checkbox] {
    display: none;
}

input:checked  + label + .accordion-block {
    display: block;
    width: 100vw;
}
/* Media-query for accordion block*/
@media screen and (min-width: 600px) {
    .subject {
        border: 0;
    }

    .accordion-block {
            display: block;
        }
}

/*

*/

/* Two column design */

@media screen and (min-width: 800px) {
    input:checked  + label + .accordion-block {
        width: 100%; /* Disable the checkbox behavior */
    }

    .article-block {
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }

    .article-block:nth-of-type(odd) {
        float: left;
    }

    .article-block:nth-of-type(even) {
        float: right;
    }
}

.figure-box img {
    max-width: 100%;
    padding-left: 0;
}