.no-bullet-list {
    list-style-type: none;
}

.fixed-box {
    width: 100vw;
    height: 10vh;
}

.padded-box {
    padding: 2em;
}

.figure-box {
    margin-left: 0;
    border: 2px solid;
}

.shape-demo {
    height: 12.5rem;
    width: 12.5rem;
    border: 1px solid;
    /* TODO: remove color from here */
    background: limegreen;
    margin: 0.5rem;
}

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.oval {
    height: 6.25rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.triangle {
    background: transparent;
    width: 0;
    height: 0;
    border: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid limegreen;
}

.eye {
    margin-left: 3rem;
    border: 0.6rem solid;
    border-top-left-radius: 100% 100%;
    border-bottom-right-radius: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.eye:after {
    content: '';
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.6rem solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 50%;
    right: 10%;
    background: blue;
}