.background-aliceblue {
    background-color: aliceblue;
}

.background-honeydew {
    background-color: #F0FFF0;
}

.background-cornflowerblue {
    background-color: cornflowerblue;
}

.purple {
    color: #800080;
}

.blue {
    color: blue;
}

.white {
    color: white;
}