/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

div {
    margin-top: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    margin-bottom: -4px;
}

.navigation-box {
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
}

.navigation-item {
    display: inline-block;
    border-right: 1px blue solid;
}

.navigation-link {
    margin: 2px;
    padding-right: 4px;

}

.quote-box {
    border-left: 8px #DBE solid;
    padding-left: 10px;
    width: 500px;
    margin: 15px auto 15px auto;
}


.simple-quote:before {
    display: block;
    height: 15px;
    margin-left: -40px;
    content: open-quote;
    font-size: 40px;
}

.simple-cite {
    display: block;
    margin-top: 10px;
}

.simple-cite:before {
    content: "-";
}

.figure-box-bordered {
    display: inline-block;
    margin: 30px;
    border: 1px solid #663399;
}

.figcaption-centered {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.gallery {
    padding-left: 20px;
}

.gallery li {
    display: inline-block;
}

.figure-box-bordered img {
    height: 300px;
    width: 400px;
}

.form-label {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.form-input {
    margin-bottom: 10px;
}

.blog-sidebar {
    position: fixed;
    background: black;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
}

.blog-sidebar-item {
    margin-bottom: 20px;
}

.blog-sidebar-item:hover {
    background: gray;
}

.blog-post {
    max-width: 80%;
}

.page {
    display: none;
}

#radio2:checked ~ .page2 {
    display: block;
}

#radio1:checked ~ .page1 {
    display: block;
}